<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">

</script>

<div align="center">
    <h2>Список пользователей</h2>
    <br>
    <br>
    <h3><button th:href="@{/new}">Новый Пользователь</button></h3>
    <table border="1" cellpadding="5">
        <br>
        <br>
        <tr>
            <th scope="col" style="background-color: red" >id</th>
            <th scope="col" style="background-color: yellow">Имя</th>
            <th scope="col" style="background-color: yellow">Фамилия</th>
            <th scope="col" style="background-color: yellow">Возраст</th>
            <th scope="col" style="background-color: yellow">Уровень</th>
            <th scope="col" style="background-color: yellow">Очки</th>
            <th style="background-color: red">Действия</th>
        </tr>
        <tr th:each="user:${listUser}">
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getSurname()}"/>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getLevel()}"/>
            <td th:text="${user.getPoints()}"/>
            <td>
                <button th:href="@{/edit(id=${user.id})}">Edit</button>
                <button th:href="@{/delete(id=${user.id})}">Delete</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>