<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>NaVkladke</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"-->
<!--        crossorigin="anonymous">-->

<!--</script>-->
<!--<div style="margin: 0px 0px 0px 5%;">-->
<!--    <caption>Таблица Users</caption>-->
<!--    <table style="width: 60%; border: 5%; padding: 5%; border-collapse: collapse;">-->

<!--        &lt;!&ndash;        <col width="100" valign="top">&ndash;&gt;-->
<!--        <col style="margin: 0px 0px 0px 5%;">-->

<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col" style="background-color: red">id</th>-->
<!--            <th scope="col" style="background-color: yellow">Имя</th>-->
<!--            <th scope="col" style="background-color: yellow">Фамилия</th>-->
<!--            <th scope="col" style="background-color: yellow">Возраст</th>-->
<!--            <th scope="col" style="background-color: yellow">Уровень</th>-->
<!--            <th scope="col" style="background-color: yellow">Очки</th>-->
<!--            <th style="background-color: red">Действия</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--        <tr th:each="user : ${users}">-->
<!--            <td th:text="${user.getId()}"/>-->
<!--            <td th:text="${user.name}"/>-->
<!--            <td th:text="${user.surname}"/>-->
<!--            <td th:text="${user.age}"/>-->
<!--            <td th:text="${user.level}"/>-->
<!--            <td th:text="${user.points}"/>-->
<!--            <td>-->
<!--                &lt;!&ndash;                                            <a href="/update?id=${user.getId()}">Edit</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <a href="/delete?id=${user.getId()}">Delete</a>&ndash;&gt;-->

<!--                <button th:href="@{/users/{id}(id=${user.getId()})}">Edit</button>-->
<!--                <form action='/users/delete' method='POST'>-->
<!--                    <button>Delete</button>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <a href="/users/edit?id=${user.id}">Edit</a>&ndash;&gt;-->
<!--            &lt;!&ndash;                <a href="/users/delete?id=${user.id}">Delete</a>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <div><span th:text="${users}"></span></div>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <p th:text="${param.get(users.get(1))}"></p>-->
<!--    <br/>-->
<!--    <form action="/form">-->
<!--        <button>Добавить пользователя</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${users}" class="container my-5">
                <p class="my-5">
                    <a href="/new" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Добавить пользователя</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No Users yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th scope="col" style="background-color: cornflowerblue">id</th>
                                <th scope="col" style="background-color: cornflowerblue">Имя</th>
                                <th scope="col" style="background-color: cornflowerblue">Фамилия</th>
                                <th scope="col" style="background-color: cornflowerblue">Возраст</th>
                                <th scope="col" style="background-color: cornflowerblue">Уровень</th>
                                <th scope="col" style="background-color: cornflowerblue">Очки</th>
                                <th style="background-color: sandybrown">Изменить</th>
                                <th style="background-color: coral">Удалить</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.surname}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.level}"></td>
                                <td th:text="${user.points}"></td>
                                <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>